/***************************************Landing page******************************************/

.front-page,
.Service-page {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: 2;
  background: #fff9f5;
}
.Service-page {
  z-index: 1;
}
.landing-page {
  height: 762px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.landing-page:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 5%;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffa734;
}
.landing-page:after {
  content: "";
  position: absolute;
  width: 78%;
  height: 73%;
  z-index: -1;
  background: #ffffff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: 6.6s xaxis ease-out;
}
@keyframes xaxis {
  0% {
    width: 0%;
  }
  65% {
    width: 0%;
  }
  100% {
    width: 78%;
  }
}
.landing-page h1 {
  font-size: 3rem;
  padding: 3% 8%;
  z-index: 3;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  animation: 4.5s slideup cubic-bezier(0.63, 0.63, 0, 0.87);
}
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

p.tagline {
  padding: 0 8%;
  font-size: 1.5rem;
  font-weight: 700;
  z-index: 3;
  color: white;
  mix-blend-mode: difference;
  animation: 3.5s slide-up cubic-bezier(0, 0, 0.1, 0.98);
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.load-background {
  width: 0vw;
  height: 100vh;
  position: fixed;
  background: rgb(17, 17, 17);
  top: 0;
  z-index: 2;
  left: 0;
  pointer-events: none;
  animation: 6s slide-left cubic-bezier(0.99, 0.01, 0.33, 0.99);
}
@keyframes slide-left {
  0% {
    width: 100vw;
  }
  75% {
    width: 100vw;
  }
  100% {
    width: 0vw;
  }
}
.content {
  padding: 0% 8%;
  display: flex;
  width: 45%;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.content p {
  line-height: 1.6rem;
  font-size: 1.2rem;
  color: rgb(17, 17, 17);
  animation: 1.5s right-side ease-out;
  animation-delay: 5s;
}
@keyframes right-side {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.background-img {
  position: absolute;
  width: 42%;
  height: 60%;
  overflow: hidden;
  top: 54%;
  right: 31%;
  transform: translate(50%, -50%);
}

.background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: 7s slide-right cubic-bezier(0.7, 0.01, 0, 0.97);
}
@keyframes slide-right {
  0% {
    opacity: 0;
    width: 0%;
    transform: scale(1.5);
  }
  65% {
    width: 0;
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    width: 100%;
    transform: scale(1);
  }
}

.btn {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}
.btn a {
  font-weight: 800;
  padding: 1rem 2rem;
  padding-left: 0;
  color: rgb(17, 17, 17);
  display: inline-block;
  font-size: 1.2rem;
  transition: 0.3s;
  text-align: center;
  position: relative;
  text-decoration: none;
  border-radius: 15% 85% 33% 67% / 64% 23% 77% 36%;
}

.btn a:hover,
.btn:focus {
  padding-left: 2rem;
  letter-spacing: 0.1rem;
  background: #f0a97d;
  border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
}

.btn a:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

/****************************************Service page***************/

.Services {
  height: 764px;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service-box {
  width: 60%;
  display: flex;
  height: 100%;
  padding: 3% 8%;
  background-color: #191919;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.service-box a {
  text-decoration: none;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  transition: 0.3s ease-out;
}

.service-box a:hover {
  color: #f0b23e;
  transition: 0.3s ease-out;
}

.black-box {
  background: #191919;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.service-content {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  overflow: hidden;
  position: relative;
}

.service-content h3 {
  font-size: 2rem;
}

.service-content p {
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding-top: 2rem;
}

.back-img {
  position: absolute;
  width: 100%;
  height: 41%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.back-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/*******************************************all medias***************/

@media (max-width: 1310px) {
  .background-img {
    width: 42%;
    height: 50%;
  }
  .content {
    width: 53%;
  }
}
@media (max-width: 1240px) {
  .popup h1 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1160px) {
  .back-img {
    height: 37%;
  }
}

@media (max-width: 1075px) {
  .service-box a {
    font-size: 1.3rem;
  }
}
@media (max-width: 1027px) {
  .background-img {
    width: 42%;
    height: 39%;
    top: 60%;
  }

  .content {
    width: 55%;
  }
}

@media (max-width: 940px) {
  .Services {
    flex-direction: column-reverse;
  }
  .service-box {
    width: 100%;
  }
  .service-content {
    padding: 8%;
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .back-img {
    display: none;
  }
}

@media (max-width: 917px) {
  html {
    font-size: 90%;
  }
  .background-img {
    width: 42%;
    height: 33%;
  }
}

@media (max-width: 828px) {
  .background-img {
    width: 42%;
    height: 33%;
    top: 64%;
  }
  .landing-page h1 {
    line-height: 3.5rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 80%;
  }
  .background-img {
    height: 27%;
    top: 61%;
  }
}

@media (max-width: 600px) {
  .landing-page {
    height: 100vh;
  }
  .content {
    width: 100%;
  }
  .background-img {
    height: 41%;
    top: 14%;
    right: 37%;
    width: 74%;
  }
  p.tagline {
    padding-top: 8rem;
  }
  .btn a {
    padding-left: 2rem;
    background: #f0a97d;
    border-radius: 100%;
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  }
  .copyright {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }
  .social {
    margin-bottom: 2rem;
  }
  .social a {
    font-size: 2rem;
  }
  .social:before {
    left: 100%;
  }
  .social:before {
    content: none;
  }
}

@media (max-width: 520px) {
  .background-img {
    width: 90%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 67%;
  }
  .background-img {
    width: 100%;
    right: 50%;
    height: 38%;
  }
  .btn {
    padding-bottom: 2rem;
  }
  .navigation {
    padding: 1rem;
  }
  img.stroke {
    top: -15px;
    width: 100%;
    height: 60px;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 60%;
  }
  img.stroke {
    top: -10px;
    width: 100%;
    height: 52px;
  }
}

@media (max-width: 321px) {
  html {
    font-size: 54%;
  }
  img.stroke {
    height: 46px;
  }
}

@media (max-width: 281px) {
  .navigation {
    width: 60%;
  }
}
