/*******************************************************Universal*******************************************/

/*<link rel="stylesheet" href="css/media.css">*/

@font-face{
    font-family: Azonix;
    src: url(../Fonts/Azonix.otf);
  }
  @font-face{
    font-family: Bungee Inline;
    src: url(../Fonts/BungeeInline-Regular.ttf);
  }
  @font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
      overflow-y: overlay;
      overflow-x: hidden;
      font-family: Caviar Dreams;
      display: flex;
      flex-direction: column;
  }
  html{
    scroll-behavior: smooth;
    font-size: 100%;
  }
  /******************************************************Scroll*********************************************/
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background:transparent ;
  }
  ::-webkit-scrollbar-thumb {
    background:rgb(20, 20, 20); 
    
    transition: 1s ease-in-out;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36); 
    transition: 2s ease-in-out;
  }
  


/***************************************************Greetings animation*******************************************/  
.greet {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 14;
    background: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    pointer-events: none;
  }
  .greet h1 {
    font-size: 50px;
    font-family: Azonix;
    color: white;
    pointer-events: none;
  }
  .greet h3 {
    font-size: 148px;
    position: absolute;
    color: #2b2b2b;
    top: 40%;
    pointer-events: none; 
    z-index: -1;
    text-transform: uppercase;
}


/*****************************************************Navigation bar*************************************/


.bodyback{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e1e1e1' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23a6a6a6'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 2000px;
  position: absolute;
  width: 100%;
}


/**********************************************************************************/

header {
  position: fixed;
  width: 100%;
  background: #f5f5f500;
  z-index: 10;
  transition: all 0.5s ease-in;
}
header.sticky{
  background-color: white;
  transition: all 0.5s ease-in;
}
.mobile{
  display: none;
}
.navigation{
  display: none;
}
navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  /*width: 1279px;*/
  width: 100%;
  text-align: center;
  padding: 0px 65px;
}

.navitem{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 84px;
    list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 30px;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 700;
  transition:all 0.5s ease;
}
.active{
  position: relative;
  border: 2px solid rgba(27, 27, 27, 0.747);
}
ul li a:hover{
  background:rgb(0, 0, 0) ;
  color:rgb(255, 255, 255) ;
  transition: 0.5s ease;
}
.menu {
  width: 7%;
  height: fit-content;
  display: none;
}
ul li img {
  width: 79%;
  object-fit: cover;
  cursor: pointer;
}
.logo {
  position: relative;
  width: 130px;
}
.logo img{
  width: 100%;
  object-fit: cover;
}

/*************************************************Landing page******************************/

.land{
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff9c;
}
/*.land:before {
  content: '';
  position: absolute;
  height: 40%;
  background: #ffead5c2;
  width: 100%;
  left: 0;
  bottom: -74px;
}*/
.landing {
  /*width: 1538px;*/
  width: 100%;
  margin: auto;
  height:763px; 
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: left;
  overflow: hidden;
  align-items: center;
}

/*.landing:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 53px;
  background: #ff3a3a;
  bottom: 7%;
}*/
.content {
  width: 50%;
  width: 732px;;
  height: auto;
  z-index: 2;
  padding: 50px;
}
.content h1 {
  padding: 20px 0px;
  line-height: 52px;
  width: 123%;
  font-size: 38px;
  font-size: 2.4rem;
}
.content p {
  font-size: 1.7rem;
  color: dimgrey;
  text-align: left;
  font-family: monospace;
  line-height: 35px;
  padding: 0px 11px 20px 0;
}
.content p span{
  color: rgb(31, 31, 31);
} 
p.tagline {
  padding: 0;
  color: #f1ccac;
  font-weight: 600;
  font-size: 2rem;
  font-family: Caviar Dreams;
}
.btn{
    padding: 20px 0px;
}
.btn a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 21%;
  padding: 18px 16px;
  position: relative;
  font-size: 1.2rem;
  font-family: monospace;
  text-align: center;
  transition: 0.5s ease-out;
  background: #272727;
}

.btn a:hover {
  background: rgb(241 204 172);
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  width: 30%;
  padding-right: 62px;
  font-weight: 700;
}

.sideimg {
    width: 66%;
    height: 93%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    background: #ff000000;
   
    pointer-events: none;
}

.parallex {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
img.one {
  z-index: 1;
  width: 20%;
  height: 59%;
  bottom: 5%;
  right: 24%;
  object-fit: cover;
  
}
img.two {
  z-index: 2;
  width: 15%;
  height: 69%;
  bottom: 5%;
  left: 24%;
  object-fit: cover;
  
}
/****************************************************What we do**********************************/
.ourpolicy {
  /*width: 1538px;*/
  width: 100%;
  display: flex;
  height: 600px;
  padding-top: 100px;
  margin: auto;
  position: relative;
  padding-bottom: 100px;
  justify-content: space-evenly;
  align-items: center;
}


.ourpolicy:before {
  content: '';
  position: absolute;
  background: #fcfcfc;
  right: 84px;
  width: 42%;
  border: 2px solid #00000014;
  height: 87%;
  color: #ffffff;
}
.text {
  width: 39%;
  z-index: 2;
  padding: 3em;
}
.text h1 {
  padding: 20px 0px;
  line-height: 44px;
  font-size: 38px;
  text-transform: uppercase;
}
.text p {
  font-size: 20px;
  font-family: monospace;
  color: dimgrey;
  text-align: justify;
  line-height: 30px;
  padding: 0px 0 20px;
}
.text h1 span {
  font-size: 85px;
  display: block;
  color: #f1ccae;
  padding-bottom: 24px;
}
.text p span {
  color: #3a3a3a;
  font-weight: 700;
}
.sec {
  padding: 43px;
  display: flex;
  width: 40%;
  justify-content: center;
}
.sec img{
  width: 120%;
  /*transform: translateY(400px);*/
}

/**************************************************Service box**********************************/
.works{
  width: 100%;
  background: linear-gradient(0deg, #f6f6f6, #f6f6f6, transparent);
  position: relative;
  
}
.ourworks {
  /*width: 1538px;*/
  width: 100%;
  height: 100%;
  margin: auto;
  
  
  padding: 60px 20px;
  margin-top: 87px;
  color: black;
  padding-bottom: 70px;
}

.ourworks h2 {
  font-size: 40px;
  width: 81%;
  margin: auto;
}
.servicebox {
  display: flex;
  padding: 43px 10px;
  width: 100%;
  flex-wrap: wrap;
  color: black;
  height: auto;
  justify-content: center;
}
.simple {
  width: 406px;
  background: rgb(255, 255, 255);
  margin: 1px;
  overflow: hidden;
  height: 100%;
  height: 474px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sample {
  width: 100%;
  top: 0;
  position: absolute;
  height: 57%;
  transition: 0.5s cubic-bezier(0.53, 0.01, 0, 0.98);
  object-fit: cover;
}
.simple:hover .sample{
  transform: scale(1.1);
  transition: 0.5s cubic-bezier(0.53, 0.01, 0, 0.98);
}
.info {
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  background: rgb(248 222 200);
  backdrop-filter: blur(5px);
  justify-content: flex-end;
  flex-direction: column;
  padding: 28px;
}
.info h1 {
  transform: translateY(24px);
  transition: 0.5s ease-in;
  text-align: center;
}
.infomsg {
  width: 100%;
  padding: 20px;
  padding-left: 0;
  transform: translateY(46px);
  padding-right: 0;
  opacity: 0;
  padding-bottom: 0;
  transition: 0.5s ease-in;
}
.simple:hover .infomsg{
  transform: translateY(0px);
  transition: 0.5s ease-in;
  opacity: 1;
}
.simple:hover .info h1 {
  
  transform: translateY(0px);
  transition: 0.5s ease-in;
}
.infomsg p {
  font-size: 16px;
  color: rgb(41, 41, 41);
  padding-bottom: 10px;
  font-family: monospace;
}
a.source.btn {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: monospace;
  font-size: 18px;
}
.productlogo {
  width: 42%;
  transform: translateY(20px);
  margin: auto;
  /* overflow: hidden; */
  display: flex;
}
.productlogo img{
  width: 100%;
  object-fit: cover;
}
.productlogo .market{
  width: 50%;
  margin: auto;
}




/*************************************************Contact us form*********************************/
.contact-us{
  position: relative;
  text-align: center;
  background-color: #f6f6f6;
}

.container {
  padding-top: 75px;
  /*width: 1538px;*/
  width: 100%;
  margin: auto;
  height: 750px;
}

.contact{
  animation: none;
  padding-bottom: 30px;
  font-size: 37px;
}
#error{
  width: 38%;
  font-family: monospace;
  margin: auto;
  background-color: #d10000;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  margin-bottom: -39px;
  transition: all 0.5s ease;
}
form { 
  max-width: 612px;
  padding: 10px;
  
  border: 1px solid white;
  margin: 50px auto;
}
form#myform:before {
  content: '';
  position: absolute;
  width: 23%;
  height: 27%;
  background: transparent;
  right: 416px;
  z-index: -1;
  top: 138px;
  border: 2px solid #dfdfdf;
}
form#myform:after {
  content: '';
  position: absolute;
  width: 23%;
  height: 27%;
  background: transparent;
  left: 402px;
  z-index: -1;
  bottom: 224px;
  border: 2px solid #dfdfdf;
}
.feedback-input {
  color: rgba(32, 32, 32, 0.616);
  font-weight: 500;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;
  line-height: 22px;
  background-color: #cdcdcd;
  border: 2px solid  #cdcdcd;
  transition: all 0.3s;
  padding: 13px;
 
  margin-bottom: 15px;
  width: 100%;
  
  box-sizing: border-box;
  outline: 0;
}
.feedback-input:hover{
  border-bottom:2px solid #1b1b1b; 
  background-color: #b1b1b1;
}
.feedback-input:focus 
{ 
  border:2px solid #242424; 
  color: rgb(32, 32, 32);
}

textarea {
height: 150px;
line-height: 150%;
resize:vertical;
font-family: monospace;
}

[type="submit"] {

width: 100%;

border-radius: 5px;
border: 0;
cursor: pointer;
color: #1d1d1d;
font-size: 24px;
padding-top: 18px;
padding-bottom: 18px;
transition: all 0.3s;
margin-top: 22px;
font-weight: 700;
}
[type="submit"]:hover 
{
  background: #5f5f5f;
   color: #efefef;
}

/***********************************************Footer*************************************/
.footer {
  width: 100%;
  padding: 10px;
  position: relative;
  bottom: 0;
  margin-top: auto;
  background-color: rgb(224, 224, 224);
  color: rgb(0, 0, 0);
  
}
.size{
  /*width: 1538px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  height: 262px;
}

.name h3 {
  font-size: 38px;
}
.name p {
  color: #a0a0a0;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 20px;
}
.copyright p{
  color: black;
  font-weight: 100;
  font-size: 16px;
}
.copyright p span {
  font-size: 23px;
}




/******************************************************Responsive design**********************/


/**********************************************************Min-width***************************/
/*********************************navbar**************************/
@media (min-width:576px){
  navbar{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  navbar {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  navbar {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  navbar {
    max-width: 1532px;
  }
}
/************************************Landingpage*************************/
@media (min-width:576px){
  .landing{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  .landing {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .landing {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .landing {
    max-width: 1538px;
  }
}
/**************************Our policy page************/
@media (min-width:576px){
  .ourpolicy{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  .ourpolicy {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ourpolicy {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ourpolicy {
    max-width: 1538px;
  }
}
/*******************************************Services*********************/
@media (min-width:576px){
  .ourworks{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  .ourworks {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ourworks {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ourworks {
    max-width: 1538px;
  }
}
/****************************************Contact us*****************************/
@media (min-width:576px){
  .container{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1538px;
  }
}
/**********************************************Footer*******************/
@media (min-width:576px){
  .size{
      max-width:540px;
  }
}
@media (min-width: 768px) {
  .size {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .size {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .size {
    max-width: 1538px;
  }
}
/*************************************************************************************************/


/**********************************************Max -width********************************/
@media (max-width: 1200px) {
  html {
    font-size: 85%;
  }
}